*{
    font-family: default;
    font-weight: bold;
}
.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.login-input{
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    margin-right: 5px;
}

h1{
    color: white;
}

header img {
    height: 60px;
}

.trybewarts-login{
    display: flex;
}

main{
    display: flex;
    justify-content: space-around;
}

#evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;
}

#qualquer {
    display: flex;
    flex-direction: row;
}

#filho1qualquer {
    display: flex;
    flex-direction: row;
}

#filho2qualquer {
    display: flex;
    flex-direction: row;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input {
    padding: 10px;
}

#section-esquerda-central {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 0;
    display: block;
    width: 98%;
    background-color: gray;
    height: 2px;
    margin: 20px;
}

a,b{
    display: flex;
}

#section-avaliation-form{
    display: flex;
}