header{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 167, 145);
}

.trybewarts-login{
    display: flex;
}

main{
    display: flex;
}

#evaluation-form{
    display: flex;
    flex-direction: column;
    width: 675px;
}

#qualquer {
    display: flex;
    flex-direction: row;
}

#filho1qualquer {
    display: flex;
    flex-direction: row;
}

#filho2qualquer {
    display: flex;
    flex-direction: row;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input {
    padding: 10px;
}
